<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blackbuck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Blackbuck.Properties.Settings>
            <setting name="Save1Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Save1Zoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Save2Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Save2Zoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Save3Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Save3Zoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Save4Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Save4Zoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Save5Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Save5Zoom" serializeAs="String">
                <value>1</value>
            </setting>
        </Blackbuck.Properties.Settings>
    </userSettings>
</configuration>